<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
		<typeAlias type="com.my.mvc.dto.CustomerDto" alias="customerDto"/>
	</typeAliases>


	
	<!-- resource:src/main/resources폴더를 바로 접근 -->
	<mappers>
		<mapper resource="/sqls/mapper.xml"/>
	</mappers>







</configuration>
